<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul class="header_items" nz-menu nzTheme="dark" nzMode="horizontal">
      <h5 nz-menu-item (click)="change('nuevo-destinatario')">Nuevo Destinatario</h5>
      <h5 nz-menu-item (click)="change('transferencias')">Transferencia</h5>
      <h5 nz-menu-item (click)="change('historial-transferencias')">Historial</h5>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content"><router-outlet></router-outlet></div>
  </nz-content>
  <nz-footer>Prueba Tecnica Banco Ripley</nz-footer>
</nz-layout>
