:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  background-color: #fff;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #fff;
  transition: all .3s;

  img {
    display: inline-block;
    height: 35px;
    vertical-align: middle;
  }
}

.sidebar-logo-collapsed {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}


.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  nz-breadcrumb {
    display: unset;
    font-size: 0.97rem;
  }

  &__logout {
    cursor: pointer;
    margin: 5px 24px;

    i {
      font-size: 1.6rem;
    }
  }
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.no-outline {
  outline: none;
}

.breadcrumb {
  font-family: 'Montserrat SemiBold';
  font-size: 1.2rem!important;
}
nz-menu{
  font-family: 'Montserrat SemiBold';
  font-size: 2rem!important;
  padding: 44px;
}

