[nz-form] {
  max-width: 1024px;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}
.formDestinatario{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nz-select {
  width: 100%;
}

.labelForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputForm{
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.receiver_info {
  display: flex;
  flex-direction: row;
}

.receiver_info_tittle {
  display: flex;
  flex-direction: column;
}

.receiver_info_data {
  display: flex;
  flex-direction: column;
}

.receiver_info_head {
  font-weight: bold;
  width: 180px;
}

.receiver_info_header {
  font-weight: bold;
}

.receiver_info_data {
  font-weight: normal;
}
.receiver_row {
  padding-top: 18px;
  padding-bottom: 17px;
}
.receiver_row input {
  border: 1px solid #999999;
}

