<h2>Nuevo Destinatario</h2>
<div class="formDestinatario">
  <form nz-form [formGroup]="formNuevoDestinatario">
    <nz-form-item>
      <div class="receiver_info_tittle">
        <div class="receiver_info_head receiver_row">Rut</div>
        <div class="receiver_info_head receiver_row">Nombre</div>
        <div class="receiver_info_head receiver_row">Teléfono</div>
        <div class="receiver_info_head receiver_row">E-mail</div>
        <div class="receiver_info_head receiver_row">Banco</div>
        <div class="receiver_info_head receiver_row">Tipo de Cuenta</div>
        <div class="receiver_info_head receiver_row">Numero de Cuenta</div>
      </div>
      <div class="receiver_row receiver_info_data">
        <div>
          <nz-form-item>
            <nz-form-control>
          <input placeholder="Ingresa tu RUT" (blur)="formatRut()" nz-input formControlName="rut_dest">
          </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <nz-form-item>
            <nz-form-control>
            <input nz-input formControlName="name_dest">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <nz-form-item>
            <nz-form-control>
          <input nz-input formControlName="phone_dest">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <nz-form-item>
            <nz-form-control>
              <input nz-input formControlName="email_dest" type="email">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <nz-form-item>
          <nz-form-control>
          <nz-select nzPlaceHolder="Seleccione Banco" formControlName="bank_dest">
          <nz-option *ngFor="let data of banksData" [nzLabel]="data.bank"
                     [nzValue]="data.id"></nz-option>
          </nz-select>
          </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <nz-form-item>
            <nz-form-control [nzSpan]="14">
              <nz-select formControlName="type" >
                <nz-option nzValue="0" nzLabel="Corriente"></nz-option>
                <nz-option nzValue="1" nzLabel="Vista"></nz-option>
                <nz-option nzValue="2" nzLabel="Rut"></nz-option>
                <nz-option nzValue="3" nzLabel="Chequera Electronica"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <nz-form-item>
          <nz-form-control>
          <input nz-input formControlName="account_number_dest">
          </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <div>
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <button nz-button nzLoading [nzLoading]="isLoading" nzShape="round" Type="primary" (click)="submitForm()">
                  Crear Destinatario</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </nz-form-item>
  </form>
</div>
