<h6>HISTORIAL TRANSFERENCIAS</h6>
<div class="overview__table">
  <nz-spin nzTip="Cargando historial..." [nzSpinning]="isLoading">
    <nz-table #basicTable [nzData]="transactions" nzBordered nzSize="middle"
              [nzFrontPagination]="false">
      <thead>
      <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Monto</th>
        <th>N° de Transacción</th>
        <th>Rut Destinatario</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.createdAt | dateFormat}}</td>
        <td>
          <ng-container [ngSwitch]="data.type">
            <ng-container *ngSwitchCase="transactionType.DEPOSIT || transactionType.TRANSFERIN">
              <nz-tag [nzColor]="'green'">{{ data.type | transactionPipe }}</nz-tag>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <nz-tag [nzColor]="'purple'">{{ data.type | transactionPipe }}</nz-tag>
            </ng-container>
          </ng-container>
        </td>
        <td
          [ngStyle]="{'color':
              (data.type === transactionType.TRANSFEROUT || data.type === transactionType.WITHDRAW)
                ? '#666'
                : '#52C41A' }"
        >
          {{ (data?.amount || 0 | currency:'CLP':'$ ':'1.0-0')?.replace(',', '.') }}
        </td>
        <td>{{data.id}}</td>
        <td>{{data.rut_dest}}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</div>
