.receiver_info {
  display: flex;
  flex-direction: row;
}

.receiver_info_tittle {
  display: flex;
  flex-direction: column;
}

.receiver_info_data {
  display: flex;
  flex-direction: column;
}

.receiver_info_head {
  font-weight: bold;
  width: 150px;
}

.receiver_info_header {
  font-weight: bold;
}

.receiver_info_data {
  font-weight: normal;
}
.receiver_row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.receiver_row input {
  border: 1px solid #999999;
}

