<h2>Transferir</h2>
<div class="receiver_row">
  <div class="receiver_info_head">Buscar Destinatario</div>
  <div>
    <nz-select [(ngModel)]="receiver" nzPlaceHolder="Inserted are removed">
      <nz-option *ngFor="let data of receivers" [nzLabel]="data.rut_dest"
                 [nzValue]="data"></nz-option>
    </nz-select>
  </div>
</div>
<div class="receiver_info_header">Detalle del Destinatario</div>
<div class="receiver_info receiver_row" *ngIf="!receiver">Debe Seleccionar un Destinatario</div>
<div class="receiver_info receiver_row" *ngIf="receiver">
  <div class="receiver_info_tittle ">
    <div class="receiver_info_head">Nombre</div>
    <div class="receiver_info_head">Correo</div>
    <div class="receiver_info_head">Banco</div>
    <div class="receiver_info_head">Tipo de Cuenta</div>
  </div>
  <div class="receiver_info_data">
    <div class="receiver_info_item">{{receiver?.name_dest}}</div>
    <div class="receiver_info_item">{{receiver?.email_dest}}</div>
    <div class="receiver_info_item">{{getBank(receiver)?.bank}}</div>
    <div class="receiver_info_item">{{getAccountType(receiver)}}</div>
  </div>
</div>
<div class="receiver_row">
  <div class="receiver_info_head">Monto</div>
  <input nz-input [(ngModel)]="monto" type="number">
</div>
<div class="receiver_row">
  <button nz-button nzLoading [nzLoading]="isLoading" nzShape="round" Type="primary" (click)="transfer()">Transferir</button>
</div>
